@model MyBlogSite.DLL.Tablolar.Yorumlar

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">
                </h1>
            </div>
            <div class="col-sm-6">

                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/AdminPanel/AdminYorum/AdminYorumIndex">Projeler</a></li>
                    <li class="breadcrumb-item active">Yorum Güncelle</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>Yorum Güncelle</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.YorumlarID)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Yorum, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Yorum, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Yorum, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    @Html.LabelFor(model => model.AktifMi, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.AktifMi)
                                            @Html.ValidationMessageFor(model => model.AktifMi, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Yorum Güncelle" class="btn btn-warning" />

                                    </div>
                                    <div>
                                        @Html.Raw(ViewBag.mesaj)

                                    </div>
                                </div>
                            </div>
                        }

                        <div>
                            @Html.ActionLink("Yorumlara Geri Dön", "AdminYorumIndex","AdminYorum")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
