@model MyBlogSite.DLL.Tablolar.Makaleler

@{
    ViewBag.Title = "AdminMakaleGuncelle";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayoutDefault.cshtml";
}
@section addTopLibrary{

    <link rel="stylesheet" href="~/Areas/AdminPanel/AdminLTE/plugins/summernote/summernote-bs4.min.css">

}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">
                </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">

                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/AdminPanel/AdminMakaleler/AdminMakalelerIndex">Makaleler</a></li>
                    <li class="breadcrumb-item active">Makale Güncelle</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>Makale Güncelle</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger"})
                                @Html.HiddenFor(model => model.MakalelerID)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MakaleBaslik, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.MakaleBaslik, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MakaleBaslik, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label>Makele Kategori</label>
                                        @*@Html.DropDownListFor(k => k.MakaleKategorileri.KategorilerID, (List<SelectListItem>)TempData["makaleKategori"], new { @class = "form-control select2",name="KategorilerID", aria_describeby = "KategorilerID" })*@
                                        <select class="form-control select2" name="makaleKategoriId">
                                            <option selected value="@Model.MakaleKategorileri.KategorilerID">@Model.MakaleKategorileri.KategoriAdi</option>
                                            @foreach (var item in ViewBag.makaleKategori)
                                            {
                                                <option value="@item.KategorilerID">@item.KategoriAdi</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label>Makale İçerik</label>
                                        <textarea id="MakaleIcerik" name="MakaleIcerik">@Model.MakaleIcerik</textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.EklenmeTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.EklenmeTarihi, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.EklenmeTarihi, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.AktifMi, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.AktifMi)
                                            @Html.ValidationMessageFor(model => model.AktifMi, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Makale Güncelle" class="btn btn-warning" />
                                        @Html.Raw(ViewBag.mesaj)
                                    </div>
                                </div>
                            </div>
                        }

                        <div>
                            @Html.ActionLink("Makalelere Geri Dön", "AdminMakalelerIndex","AdminMakaleler")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section addBottomLibrary{
    <script src="~/Areas/AdminPanel/AdminLTE/plugins/summernote/summernote-bs4.min.js"></script>
    <script>
        $(function () {
            // Summernote
            $('#MakaleIcerik').summernote()

        })</script>

}
