@model MyBlogSite.UI.Areas.AdminPanel.Controllers.AnasayfaViewToplu
@using (Html.BeginForm("AdminSayfaEkle", "AdminYetki", FormMethod.Post))
{
    @Html.Hidden("id", (int)ViewBag.ErisimID)
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">YETKİ EKLE</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="sayfaEkleForm" action="/AdminPanel/AdminYetki/AdminSayfaEkle/@Model.erisimIDd.YetkiErisimleriID" method="post">
                        <div class="card-body">


                            <div class="card card-info card-outline">
                                <div class="card-header">
                                    <h5 class="card-title">Erişim Alanları @Model.erisimIDd.YetkiErisimleriID</h5>
                                </div>
                                <div class="card-body">
                                    @foreach (var item in Model.ErisimList)
                                    {
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" id="customCheckbox_@item.ErisimAlanlari.FirstOrDefault().ErisimAlanlariID" name="selectedSayfalar" value="@item.ErisimAlanlari.FirstOrDefault().ErisimAlanlariID">
                                            <label for="customCheckbox_@item.ErisimAlanlari.FirstOrDefault().ErisimAlanlariID" class="custom-control-label">@item.ErisimAlanlari.FirstOrDefault().ControllerAdi</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>


                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">ERİŞİM EKLE</button>
                        </div>
                        <div>
                            @Html.Raw(ViewBag.mesaj)
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

